.menu .ant-menu-submenu-title {
    transition: background-color 0.5s ease;
    background-color: #1F75FE;
    color: white !important;

}

/* Change background color of submenu title on hover */
/* .menu .ant-menu-submenu-title:hover {
    background-color: red;
} */
.ant-menu-submenu-title:hover {

    background: red !important;

}